USE [master]
GO
/****** Object:  Database [dbSoftwareMejoramiento]    Script Date: 4/06/2026 4:52:53 p. m. ******/
CREATE DATABASE [dbSoftwareMejoramiento]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbSoftwareMejoramiento', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\dbSoftwareMejoramiento.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbSoftwareMejoramiento_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\dbSoftwareMejoramiento_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbSoftwareMejoramiento].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbSoftwareMejoramiento]
GO
/****** Object:  Table [dbo].[Actividad]    Script Date: 4/06/2026 4:52:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actividad](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](255) NULL,
	[FechaEntrega] [date] NULL,
	[Estado] [varchar](50) NULL,
	[IdPlanMejoramiento] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Administrador]    Script Date: 4/06/2026 4:52:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrador](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TipoDocumento] [varchar](50) NULL,
	[NumeroDocumento] [varchar](50) NULL,
	[Nombre] [varchar](120) NULL,
	[Apellido] [varchar](120) NULL,
	[Correo] [varchar](255) NULL,
	[Telefono] [varchar](50) NULL,
	[Contrasena] [varchar](255) NULL,
	[Estado] [varchar](50) NULL,
	[IdCentro] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Aprendiz]    Script Date: 4/06/2026 4:52:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aprendiz](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TipoDocumento] [varchar](50) NULL,
	[NumeroDocumento] [varchar](50) NULL,
	[Nombre] [varchar](120) NULL,
	[Apellido] [varchar](120) NULL,
	[Correo] [varchar](255) NULL,
	[Telefono] [varchar](50) NULL,
	[Contrasena] [varchar](255) NULL,
	[IdEstadoAcademico] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AprendizPlan]    Script Date: 4/06/2026 4:52:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AprendizPlan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdAprendiz] [int] NULL,
	[IdPlanMejoramiento] [int] NULL,
	[Estado] [varchar](50) NULL,
	[Observacion] [varchar](max) NULL,
	[FechaAsignacion] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CentroFormacion]    Script Date: 4/06/2026 4:52:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CentroFormacion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](120) NULL,
	[IdCiudad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CentroPrograma]    Script Date: 4/06/2026 4:52:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CentroPrograma](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCentro] [int] NULL,
	[IdPrograma] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ciudad]    Script Date: 4/06/2026 4:52:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudad](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](80) NULL,
	[IdDepartamento] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Competencia]    Script Date: 4/06/2026 4:52:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Competencia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](50) NULL,
	[Nombre] [varchar](255) NULL,
	[Descripcion] [varchar](255) NULL,
	[IdPrograma] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 4/06/2026 4:52:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](80) NULL,
	[IdRegion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Especialidad]    Script Date: 4/06/2026 4:52:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidad](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoAcademico]    Script Date: 4/06/2026 4:52:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoAcademico](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Descripcion] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EvaluacionPlan]    Script Date: 4/06/2026 4:52:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EvaluacionPlan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EvaluacionProducto] [varchar](50) NULL,
	[EvaluacionConocimiento] [varchar](50) NULL,
	[EvaluacionDesempeno] [varchar](50) NULL,
	[ResultadoFinal] [varchar](50) NULL,
	[FechaEvaluacion] [date] NULL,
	[IdPlanMejoramiento] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evidencia]    Script Date: 4/06/2026 4:52:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evidencia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreArchivo] [varchar](255) NULL,
	[RutaArchivo] [varchar](255) NULL,
	[FechaCarga] [date] NULL,
	[Observaciones] [varchar](255) NULL,
	[IdPlanMejoramiento] [int] NULL,
	[IdAprendiz] [int] NULL,
	[IdTipoArchivo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ficha]    Script Date: 4/06/2026 4:52:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ficha](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodigoFicha] [varchar](20) NOT NULL,
	[FechaInicio] [date] NULL,
	[FechaFinalizacion] [date] NULL,
	[Descripcion] [varchar](255) NULL,
	[Estado] [varchar](50) NULL,
	[IdPrograma] [int] NULL,
	[IdJornada] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FichaAprendiz]    Script Date: 4/06/2026 4:52:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FichaAprendiz](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdFicha] [int] NULL,
	[IdAprendiz] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FichaInstructor]    Script Date: 4/06/2026 4:52:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FichaInstructor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdFicha] [int] NULL,
	[IdInstructor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instructor]    Script Date: 4/06/2026 4:52:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TipoDocumento] [varchar](50) NULL,
	[NumeroDocumento] [varchar](50) NULL,
	[Nombre] [varchar](120) NULL,
	[Apellido] [varchar](120) NULL,
	[Correo] [varchar](255) NULL,
	[Telefono] [varchar](50) NULL,
	[Contrasena] [varchar](255) NOT NULL,
	[Estado] [varchar](50) NULL,
 CONSTRAINT [PK__Instruct__3214EC07E82FF983] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InstructorEspecialidad]    Script Date: 4/06/2026 4:52:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InstructorEspecialidad](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdInstructor] [int] NULL,
	[IdEspecialidad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jornada]    Script Date: 4/06/2026 4:52:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jornada](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NivelFormacion]    Script Date: 4/06/2026 4:52:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NivelFormacion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlanMejoramiento]    Script Date: 4/06/2026 4:52:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlanMejoramiento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NULL,
	[FechaAsignacion] [date] NULL,
	[FechaLimite] [date] NULL,
	[IdInstructor] [int] NULL,
	[IdTipoPlan] [int] NULL,
 CONSTRAINT [PK__PlanMejo__3214EC07B65BB96A] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlanResultado]    Script Date: 4/06/2026 4:52:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlanResultado](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPlanMejoramiento] [int] NULL,
	[IdResultadoAprendizaje] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Programa]    Script Date: 4/06/2026 4:52:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Programa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](50) NULL,
	[Nombre] [varchar](255) NULL,
	[Version] [varchar](50) NULL,
	[Duracion] [int] NULL,
	[Estado] [varchar](50) NULL,
	[IdNivel] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Region]    Script Date: 4/06/2026 4:52:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Region](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](80) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResultadoAprendizaje]    Script Date: 4/06/2026 4:52:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResultadoAprendizaje](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](50) NULL,
	[Descripcion] [varchar](255) NULL,
	[IdCompetencia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoArchivo]    Script Date: 4/06/2026 4:52:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoArchivo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Extension] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoPlan]    Script Date: 4/06/2026 4:52:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoPlan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Administrador] ON 

INSERT [dbo].[Administrador] ([Id], [TipoDocumento], [NumeroDocumento], [Nombre], [Apellido], [Correo], [Telefono], [Contrasena], [Estado], [IdCentro]) VALUES (1, N'CC', N'100000001', N'Administrador', N'Principal', N'admin@sena.edu.co', N'3000000001', N'123456', N'Activo', 1)
SET IDENTITY_INSERT [dbo].[Administrador] OFF
GO
SET IDENTITY_INSERT [dbo].[Aprendiz] ON 

INSERT [dbo].[Aprendiz] ([Id], [TipoDocumento], [NumeroDocumento], [Nombre], [Apellido], [Correo], [Telefono], [Contrasena], [IdEstadoAcademico]) VALUES (1, N'CC', N'100000003', N'Juan', N'Aprendiz', N'aprendiz@sena.edu.co', N'3000000003', N'', 1)
INSERT [dbo].[Aprendiz] ([Id], [TipoDocumento], [NumeroDocumento], [Nombre], [Apellido], [Correo], [Telefono], [Contrasena], [IdEstadoAcademico]) VALUES (1002, N'CC', N'1058353706', N'Jhon Alejandro', N'Cardenas Pinto', N'jhon123@sena.edu.co', N'3000000002', N'123456', 1)
INSERT [dbo].[Aprendiz] ([Id], [TipoDocumento], [NumeroDocumento], [Nombre], [Apellido], [Correo], [Telefono], [Contrasena], [IdEstadoAcademico]) VALUES (1004, N'CC', N'1058353706', N'Victoria', N'Valentina', N'vic@gmail.com', N'3202552834', N'123456', 1)
SET IDENTITY_INSERT [dbo].[Aprendiz] OFF
GO
SET IDENTITY_INSERT [dbo].[CentroFormacion] ON 

INSERT [dbo].[CentroFormacion] ([Id], [Nombre], [IdCiudad]) VALUES (1, N'SENA Centro de Gestión Administrativa y Fortalecimiento Empresarial', 1)
SET IDENTITY_INSERT [dbo].[CentroFormacion] OFF
GO
SET IDENTITY_INSERT [dbo].[Ciudad] ON 

INSERT [dbo].[Ciudad] ([Id], [Nombre], [IdDepartamento]) VALUES (1, N'Tunja', 1)
SET IDENTITY_INSERT [dbo].[Ciudad] OFF
GO
SET IDENTITY_INSERT [dbo].[Departamento] ON 

INSERT [dbo].[Departamento] ([Id], [Nombre], [IdRegion]) VALUES (1, N'Boyacá', 1)
SET IDENTITY_INSERT [dbo].[Departamento] OFF
GO
SET IDENTITY_INSERT [dbo].[EstadoAcademico] ON 

INSERT [dbo].[EstadoAcademico] ([Id], [Nombre], [Descripcion]) VALUES (1, N'En Formación', NULL)
INSERT [dbo].[EstadoAcademico] ([Id], [Nombre], [Descripcion]) VALUES (2, N'Aplazado', NULL)
INSERT [dbo].[EstadoAcademico] ([Id], [Nombre], [Descripcion]) VALUES (3, N'Desertado', NULL)
SET IDENTITY_INSERT [dbo].[EstadoAcademico] OFF
GO
SET IDENTITY_INSERT [dbo].[Ficha] ON 

INSERT [dbo].[Ficha] ([Id], [CodigoFicha], [FechaInicio], [FechaFinalizacion], [Descripcion], [Estado], [IdPrograma], [IdJornada]) VALUES (1, N'3232460', CAST(N'2026-06-03' AS Date), CAST(N'2028-06-07' AS Date), N'', N'Activa', 1002, 2)
INSERT [dbo].[Ficha] ([Id], [CodigoFicha], [FechaInicio], [FechaFinalizacion], [Descripcion], [Estado], [IdPrograma], [IdJornada]) VALUES (2, N'3232450', CAST(N'2026-06-03' AS Date), CAST(N'2028-06-03' AS Date), N'JORGEEEE', N'Activa', 1003, 1)
INSERT [dbo].[Ficha] ([Id], [CodigoFicha], [FechaInicio], [FechaFinalizacion], [Descripcion], [Estado], [IdPrograma], [IdJornada]) VALUES (3, N'3232560', CAST(N'2026-06-03' AS Date), CAST(N'2026-06-04' AS Date), N'', N'Activa', 1004, 3)
SET IDENTITY_INSERT [dbo].[Ficha] OFF
GO
SET IDENTITY_INSERT [dbo].[FichaAprendiz] ON 

INSERT [dbo].[FichaAprendiz] ([Id], [IdFicha], [IdAprendiz]) VALUES (1, 1, 1002)
INSERT [dbo].[FichaAprendiz] ([Id], [IdFicha], [IdAprendiz]) VALUES (2, 1, 1)
SET IDENTITY_INSERT [dbo].[FichaAprendiz] OFF
GO
SET IDENTITY_INSERT [dbo].[FichaInstructor] ON 

INSERT [dbo].[FichaInstructor] ([Id], [IdFicha], [IdInstructor]) VALUES (1, 1, 1)
INSERT [dbo].[FichaInstructor] ([Id], [IdFicha], [IdInstructor]) VALUES (3, 2, 1002)
INSERT [dbo].[FichaInstructor] ([Id], [IdFicha], [IdInstructor]) VALUES (4, 1, 1003)
SET IDENTITY_INSERT [dbo].[FichaInstructor] OFF
GO
SET IDENTITY_INSERT [dbo].[Instructor] ON 

INSERT [dbo].[Instructor] ([Id], [TipoDocumento], [NumeroDocumento], [Nombre], [Apellido], [Correo], [Telefono], [Contrasena], [Estado]) VALUES (1, N'CC', N'100000005', N'Carlos', N'Instructor', N'instructor@sena.edu.co', N'3000000002', N'123456', N'Activo')
INSERT [dbo].[Instructor] ([Id], [TipoDocumento], [NumeroDocumento], [Nombre], [Apellido], [Correo], [Telefono], [Contrasena], [Estado]) VALUES (1002, N'CC', N'1058353704', N'Carlos', N'salamanca', N'carlos@sena.edu.co', N'320285525', N'123456', N'Activo')
INSERT [dbo].[Instructor] ([Id], [TipoDocumento], [NumeroDocumento], [Nombre], [Apellido], [Correo], [Telefono], [Contrasena], [Estado]) VALUES (1003, N'CC', N'155525', N'KEvin', N'Roldan', N'kevin@gmail.com', N'32000250', N'123456', N'Activo')
SET IDENTITY_INSERT [dbo].[Instructor] OFF
GO
SET IDENTITY_INSERT [dbo].[Jornada] ON 

INSERT [dbo].[Jornada] ([Id], [Nombre]) VALUES (1, N'Mañana')
INSERT [dbo].[Jornada] ([Id], [Nombre]) VALUES (2, N'Tarde')
INSERT [dbo].[Jornada] ([Id], [Nombre]) VALUES (3, N'Noche')
SET IDENTITY_INSERT [dbo].[Jornada] OFF
GO
SET IDENTITY_INSERT [dbo].[NivelFormacion] ON 

INSERT [dbo].[NivelFormacion] ([Id], [Nombre]) VALUES (1, N'Operario')
INSERT [dbo].[NivelFormacion] ([Id], [Nombre]) VALUES (2, N'Auxiliar')
INSERT [dbo].[NivelFormacion] ([Id], [Nombre]) VALUES (3, N'Tecnico')
SET IDENTITY_INSERT [dbo].[NivelFormacion] OFF
GO
SET IDENTITY_INSERT [dbo].[Programa] ON 

INSERT [dbo].[Programa] ([Id], [Codigo], [Nombre], [Version], [Duracion], [Estado], [IdNivel]) VALUES (1002, N'105855525', N'Desarrollo de Inteligencia Artificial', N'1', 12, N'Activo', 4)
INSERT [dbo].[Programa] ([Id], [Codigo], [Nombre], [Version], [Duracion], [Estado], [IdNivel]) VALUES (1003, N'225835', N'Analisis y desarrollo de software', N'1', 23, N'Activo', 4)
INSERT [dbo].[Programa] ([Id], [Codigo], [Nombre], [Version], [Duracion], [Estado], [IdNivel]) VALUES (1004, N'558585', N'Cocina', N'2', 1253, N'Activo', 1)
SET IDENTITY_INSERT [dbo].[Programa] OFF
GO
SET IDENTITY_INSERT [dbo].[Region] ON 

INSERT [dbo].[Region] ([Id], [Nombre]) VALUES (1, N'Andina')
SET IDENTITY_INSERT [dbo].[Region] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoArchivo] ON 

INSERT [dbo].[TipoArchivo] ([Id], [Nombre], [Extension]) VALUES (1, N'PDF', N'.pdf')
INSERT [dbo].[TipoArchivo] ([Id], [Nombre], [Extension]) VALUES (2, N'Word', N'.docx')
INSERT [dbo].[TipoArchivo] ([Id], [Nombre], [Extension]) VALUES (3, N'Excel', N'.xlsx')
SET IDENTITY_INSERT [dbo].[TipoArchivo] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoPlan] ON 

INSERT [dbo].[TipoPlan] ([Id], [Nombre]) VALUES (1, N'Interno')
INSERT [dbo].[TipoPlan] ([Id], [Nombre]) VALUES (2, N'Disciplinario')
SET IDENTITY_INSERT [dbo].[TipoPlan] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Ficha__B6C58D1493F2E39C]    Script Date: 4/06/2026 4:52:53 p. m. ******/
ALTER TABLE [dbo].[Ficha] ADD UNIQUE NONCLUSTERED 
(
	[CodigoFicha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Actividad]  WITH CHECK ADD  CONSTRAINT [FK__Actividad__IdPla__07C12930] FOREIGN KEY([IdPlanMejoramiento])
REFERENCES [dbo].[PlanMejoramiento] ([Id])
GO
ALTER TABLE [dbo].[Actividad] CHECK CONSTRAINT [FK__Actividad__IdPla__07C12930]
GO
ALTER TABLE [dbo].[Administrador]  WITH CHECK ADD FOREIGN KEY([IdCentro])
REFERENCES [dbo].[CentroFormacion] ([Id])
GO
ALTER TABLE [dbo].[Aprendiz]  WITH CHECK ADD FOREIGN KEY([IdEstadoAcademico])
REFERENCES [dbo].[EstadoAcademico] ([Id])
GO
ALTER TABLE [dbo].[AprendizPlan]  WITH CHECK ADD FOREIGN KEY([IdAprendiz])
REFERENCES [dbo].[Aprendiz] ([Id])
GO
ALTER TABLE [dbo].[AprendizPlan]  WITH CHECK ADD FOREIGN KEY([IdPlanMejoramiento])
REFERENCES [dbo].[PlanMejoramiento] ([Id])
GO
ALTER TABLE [dbo].[CentroFormacion]  WITH CHECK ADD FOREIGN KEY([IdCiudad])
REFERENCES [dbo].[Ciudad] ([Id])
GO
ALTER TABLE [dbo].[CentroPrograma]  WITH CHECK ADD FOREIGN KEY([IdCentro])
REFERENCES [dbo].[CentroFormacion] ([Id])
GO
ALTER TABLE [dbo].[CentroPrograma]  WITH CHECK ADD FOREIGN KEY([IdPrograma])
REFERENCES [dbo].[Programa] ([Id])
GO
ALTER TABLE [dbo].[Ciudad]  WITH CHECK ADD FOREIGN KEY([IdDepartamento])
REFERENCES [dbo].[Departamento] ([Id])
GO
ALTER TABLE [dbo].[Competencia]  WITH CHECK ADD FOREIGN KEY([IdPrograma])
REFERENCES [dbo].[Programa] ([Id])
GO
ALTER TABLE [dbo].[Departamento]  WITH CHECK ADD FOREIGN KEY([IdRegion])
REFERENCES [dbo].[Region] ([Id])
GO
ALTER TABLE [dbo].[EvaluacionPlan]  WITH CHECK ADD  CONSTRAINT [FK__Evaluacio__IdPla__0E6E26BF] FOREIGN KEY([IdPlanMejoramiento])
REFERENCES [dbo].[PlanMejoramiento] ([Id])
GO
ALTER TABLE [dbo].[EvaluacionPlan] CHECK CONSTRAINT [FK__Evaluacio__IdPla__0E6E26BF]
GO
ALTER TABLE [dbo].[Evidencia]  WITH CHECK ADD FOREIGN KEY([IdAprendiz])
REFERENCES [dbo].[Aprendiz] ([Id])
GO
ALTER TABLE [dbo].[Evidencia]  WITH CHECK ADD  CONSTRAINT [FK__Evidencia__IdPla__114A936A] FOREIGN KEY([IdPlanMejoramiento])
REFERENCES [dbo].[PlanMejoramiento] ([Id])
GO
ALTER TABLE [dbo].[Evidencia] CHECK CONSTRAINT [FK__Evidencia__IdPla__114A936A]
GO
ALTER TABLE [dbo].[Evidencia]  WITH CHECK ADD FOREIGN KEY([IdTipoArchivo])
REFERENCES [dbo].[TipoArchivo] ([Id])
GO
ALTER TABLE [dbo].[Ficha]  WITH CHECK ADD FOREIGN KEY([IdJornada])
REFERENCES [dbo].[Jornada] ([Id])
GO
ALTER TABLE [dbo].[Ficha]  WITH CHECK ADD FOREIGN KEY([IdPrograma])
REFERENCES [dbo].[Programa] ([Id])
GO
ALTER TABLE [dbo].[FichaAprendiz]  WITH CHECK ADD FOREIGN KEY([IdAprendiz])
REFERENCES [dbo].[Aprendiz] ([Id])
GO
ALTER TABLE [dbo].[FichaAprendiz]  WITH CHECK ADD FOREIGN KEY([IdFicha])
REFERENCES [dbo].[Ficha] ([Id])
GO
ALTER TABLE [dbo].[FichaInstructor]  WITH CHECK ADD FOREIGN KEY([IdFicha])
REFERENCES [dbo].[Ficha] ([Id])
GO
ALTER TABLE [dbo].[FichaInstructor]  WITH CHECK ADD  CONSTRAINT [FK__FichaInst__IdIns__7C4F7684] FOREIGN KEY([IdInstructor])
REFERENCES [dbo].[Instructor] ([Id])
GO
ALTER TABLE [dbo].[FichaInstructor] CHECK CONSTRAINT [FK__FichaInst__IdIns__7C4F7684]
GO
ALTER TABLE [dbo].[InstructorEspecialidad]  WITH CHECK ADD FOREIGN KEY([IdEspecialidad])
REFERENCES [dbo].[Especialidad] ([Id])
GO
ALTER TABLE [dbo].[InstructorEspecialidad]  WITH CHECK ADD  CONSTRAINT [FK__Instructo__IdIns__208CD6FA] FOREIGN KEY([IdInstructor])
REFERENCES [dbo].[Instructor] ([Id])
GO
ALTER TABLE [dbo].[InstructorEspecialidad] CHECK CONSTRAINT [FK__Instructo__IdIns__208CD6FA]
GO
ALTER TABLE [dbo].[PlanMejoramiento]  WITH CHECK ADD  CONSTRAINT [FK__PlanMejor__IdIns__03F0984C] FOREIGN KEY([IdInstructor])
REFERENCES [dbo].[Instructor] ([Id])
GO
ALTER TABLE [dbo].[PlanMejoramiento] CHECK CONSTRAINT [FK__PlanMejor__IdIns__03F0984C]
GO
ALTER TABLE [dbo].[PlanMejoramiento]  WITH CHECK ADD  CONSTRAINT [FK__PlanMejor__IdTip__04E4BC85] FOREIGN KEY([IdTipoPlan])
REFERENCES [dbo].[TipoPlan] ([Id])
GO
ALTER TABLE [dbo].[PlanMejoramiento] CHECK CONSTRAINT [FK__PlanMejor__IdTip__04E4BC85]
GO
ALTER TABLE [dbo].[PlanResultado]  WITH CHECK ADD  CONSTRAINT [FK__PlanResul__IdPla__0A9D95DB] FOREIGN KEY([IdPlanMejoramiento])
REFERENCES [dbo].[PlanMejoramiento] ([Id])
GO
ALTER TABLE [dbo].[PlanResultado] CHECK CONSTRAINT [FK__PlanResul__IdPla__0A9D95DB]
GO
ALTER TABLE [dbo].[PlanResultado]  WITH CHECK ADD FOREIGN KEY([IdResultadoAprendizaje])
REFERENCES [dbo].[ResultadoAprendizaje] ([Id])
GO
ALTER TABLE [dbo].[Programa]  WITH CHECK ADD FOREIGN KEY([IdNivel])
REFERENCES [dbo].[NivelFormacion] ([Id])
GO
ALTER TABLE [dbo].[ResultadoAprendizaje]  WITH CHECK ADD FOREIGN KEY([IdCompetencia])
REFERENCES [dbo].[Competencia] ([Id])
GO
USE [master]
GO
